<% if current_page?(root_path) %>
    <header class="intro-header" style="background-image: 
    url('/assets/clean_blog/nyc2.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                
                    <span class="subheading">&nbsp&nbsp&nbsp</span>
                </div>
            </div>
        </div>
    </div>
    </header>
<% elsif current_page?(about_path) %>
    <header class="intro-header" style="background-image: 
    url('/assets/clean_blog/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
    </header>
<% elsif current_page?(posts_path) %>
    <header class="intro-header" style="background-image: 
    url('/assets/clean_blog/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Great Content for You</h1>
                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                </div>
            </div>
        </div>
    </div>
    </header>
    <% elsif current_page?(post_path) %>
      <header class="intro-header" style="background-image: 
    url('/assets/clean_blog/post-background.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%= @post.title %></h1>
                    <p class="meta"><%= @post.description %></p>
                    <span class="meta text-right">Posted by <a href="#">Joshua Varghese</a> <%= @post.created_at.strftime('%b %d, %Y') %></span>
                </div>
            </div>
        </div>
    </div>
    </header>
<% elsif current_page?(contact_path) %> 
    <header class="intro-header" style="background-image: 
    url('/assets/clean_blog/contact-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <hr class="small">
                    <span class="subheading">Have questions? I have answers (maybe).</span>
                </div>
            </div>
        </div>
    </div>
    </header>
<% end %>