<title>JV | BLOG</title>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<div class="text-center">
  <h2>Learn more, Build More, Do More</h2>
  <p>Discover new, inspiring aspects of the Meraki Code.</p>
</div>
<!-- Main Content -->
<div class="container">
    <div class="row">
       <div class="col-md-4 col-sm-12">
    <a href="/">
      <div class="discovery-card" style="background-image: url('assets/clean_blog/code.png')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong>CODING</strong></h2>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 col-sm-6">
    <a href="/">
      <div class="discovery-card" style="background-image: url('assets/clean_blog/London.jpg')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong>MUSIC</strong></h2>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 col-sm-6">
    <a href="/">
      <div class="discovery-card" style="background-image: url('assets/clean_blog/Berlin.jpg')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong>LIFE</strong></h2>
          </div>
        </div>
      </div>
    </a>
  </div>
    </div>
</div>

<br>

<%= render 'footer' %>